<div class="container">
    <div class="row">
        <div class="col" ng-repeat="story in stories">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title" ng-model="storoBody">{{story.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Posted: {{story.createdAt}}</h6>
                  <p class="card-text" ng-model="storoBody">{{story.story}}</p>
                  <button class="btn btn-danger btn-block" ng-click="deleteData(story.id);">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>